<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ../template/head.ejs %>
</head>

<body>
    <div id="wrapper">

        <%- include ../template/navigation.ejs %>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">User</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- Corporate User Page -->
            <div class="row">
              <div class="col-lg-12">
                <% if (message.length > 0) { %>
                    <div class="alert alert-success"><%= message %></div>
                <% } %>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    User List
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                      <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                          <tr>
                            <th>Username</th>
                            <th>Role</th>
                            <th>Full Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>

                          <% for(var i=0; i<corporateUserList.length; i++) { %>
                            <% if(corporateUserList[i].id != user.id) { %>
                              <tr class="">
                                <td><%= corporateUserList[i].username %></td>
                                <td><%= corporateUserList[i].role %></td>
                                <td><%= corporateUserList[i].fullName %></td>
                                <td><%= corporateUserList[i].phone %></td>
                                <td><%= corporateUserList[i].email %></td>
                                <td>
                                  <a href='/admin/corporateuser/delete?corpId=<%=user.corpId%>&corpUserId=<%=corporateUserList[i].id%>'>Delete</a>
                                </td>
                              </tr>
                            <% } %>
                          <% } %>

                        </tbody>
                      </table>
                    </div>
                  </div>
                  <a href="/admin/corporateuser/add?corpId=<%= user.corpId %>" class="btn btn-default">Add</a>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <%- include ../template/tail.ejs %>
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true,
            "columnDefs": [
              { "width": "30%", "targets": 0 }
            ]
        });
    });
    </script>

</body>

</html>
